* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    height: 100%;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}

.default-border-radius {
    border-radius: 10px;
}

.item-to-item-margin {
    margin: 16px;
}

.surface-background {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}

.screen-margin {
    margin: 24px;
}

.column-texts-margin-bottom {
    margin-bottom: 8px;
}

.list-item-margin-bottom {
    margin-bottom: 16px;
}

.info-next-item-margin {
    margin-top: 16px;
}

.center-text {
    text-align: center;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-container form {
    margin-top: 24px;
    margin-left: 48px;
    margin-right: 48px;
}

.login-container form span {
    margin-top: 16px;
    margin-bottom: 16px;
}

.login-container form button {
    margin-top: 32px;
}

.image-content-margin-left {
    margin-left: 16px;
}

.image-rating {
    width: 200px;
    height: 150px;
}

.image-ranking {
    width: 300px;
    height: 120px;
}

.image-ranking-small {
    width: 140px;
    height: 80px;
}

.home-card {
    cursor: pointer;
    flex: 1;
    margin-bottom: 16px;
}

.home-card-not-selectable {
    cursor: auto;
}

.home-item {
    flex: 1;
    margin-right: 12px;
}

.home-opinions {
    overflow-y: scroll;
    padding-top: 16px;
    height: 250px;
}

.home-ranking {
    overflow-y: scroll;
    padding-left: 16px;
    height: 250px;
}

.home-quality {
    height: 250px;
    overflow-y: scroll;
}

.home-advices {
    overflow-y: scroll;
    height: 250px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.home-advice {
    margin-bottom: 24px;
}

.aspect {
    text-align: center;
    height: 72px;
    vertical-align: center;
    align-items: center;
}

.aspect-item {
    flex: 1
}

.star {
    width: 36px;
    height: 36px;
    margin-right: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.Rating-Short {
    margin-left: 8px;
    margin-right: 8px;
}

.button-56 {
    align-items: center;
    background-color: var(--md-sys-color-surface);
    border: 2px solid var(--md-sys-color-on-surface);
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--md-sys-color-on-surface);
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: center;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: var(--md-sys-typescale-headline3-font);
    font-weight: var(--md-sys-typescale-headline3-weight);
    font-size: var(--md-sys-typescale-headline3-size);
    line-height: var(--md-sys-typescale-headline3-line-height);
    letter-spacing: var(--md-sys-typescale-headline3-tracking);
}

.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}


.crazy-button {
    position: absolute;
    top: 0;
    align-items: center;
    background-color: palevioletred;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    width: 70px;
    padding: 0 25px;

    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.toolbar {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 86px;
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.toolbar-image {
    cursor: pointer;
    width: 40px;
    height: 30px;
    margin-right: 24px;
}

.toolbar-title {
    margin-left: 24px;
    flex: 1;
    cursor: pointer;
}

.theme-icon {
    width: 48px;
    height: 48px;
    margin-right: 24px;
}

.toolbar img {
    width: 52px;
    height: 56px;
    margin-left: 24px;
    cursor: pointer;
}

.home {
    background-color: var(--md-sys-color-surface);
}

.Home-card-header {
    border-radius: 10px 10px 0 0;
    border: 2px solid var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    display: flex;
    align-items: center;
    padding: 11px 15px;
}

.Home-card-header span {
    margin-left: 16px;
}

.Home-card-header img {
    width: 36px;
    height: 36px;
}

.ChooseShop {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}

.ChooseShop-card {
    margin-bottom: 24px;
    text-align: center;
    cursor: pointer;
}

.ChooseShop-card img {
    width: 100%;
    height: 362px;
}

.choose-shop-container {
    margin: 24px;
    columns: auto 2;
}

.card {
    background-color: var(--md-sys-color-primary-container);
    border-radius: 10px;
    color: var(--md-sys-color-on-primary-container);
}

.card-secondary {
    background-color: var(--md-sys-color-secondary-container);
    border-radius: 10px;
    color: var(--md-sys-color-on-secondary-container);
}

.card-transparent {
    background-color: transparent;
    border-radius: 10px;
    color: var(--md-sys-color-on-surface);
}

.vertical-divider {
    height: 100%;
    width: 2px;
    background-color: var(--md-sys-color-surface);
}

.vertical-divider-on-primary-container {
    height: 100%;
    width: 2px;
    background-color: var(--md-sys-color-on-primary-container);
}

.horizontal-divider {
    height: 2px;
    width: 100%;
    background-color: var(--md-sys-color-on-primary-container);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.order-info {
    flex: 1;
    padding: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--md-sys-color-on-primary-container);
}

.segment-chooser {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    text-align: center;
    border: 2px solid var(--md-sys-color-primary);
    overflow: hidden;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.chosen-segment {
    display: flex;
    flex-direction: row;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    flex: 1;
    cursor: pointer;
}

.not-chosen-segment {
    flex: 1;
    cursor: pointer;
}

.segment-span {
    flex: 1;
    padding: 24px;
}

.headline1, .display-small {
    font-family: var(--md-sys-typescale-headline1-font);
    font-weight: var(--md-sys-typescale-headline1-weight);
    font-size: var(--md-sys-typescale-headline1-size);
    line-height: var(--md-sys-typescale-headline1-line-height);
    letter-spacing: var(--md-sys-typescale-headline1-tracking);
}

.display3, .display-medium {
    font-family: var(--md-sys-typescale-display3-font);
    font-weight: var(--md-sys-typescale-display3-weight);
    font-size: var(--md-sys-typescale-display3-size);
    line-height: var(--md-sys-typescale-display3-line-height);
    letter-spacing: var(--md-sys-typescale-display3-tracking);
}

.display2, .display-large {
    font-family: var(--md-sys-typescale-display2-font);
    font-weight: var(--md-sys-typescale-display2-weight);
    font-size: var(--md-sys-typescale-display2-size);
    line-height: var(--md-sys-typescale-display2-line-height);
    letter-spacing: var(--md-sys-typescale-display2-tracking);
}

.headline4, .headline-small {
    font-family: var(--md-sys-typescale-headline4-font);
    font-weight: var(--md-sys-typescale-headline4-weight);
    font-size: var(--md-sys-typescale-headline4-size);
    line-height: var(--md-sys-typescale-headline4-line-height);
    letter-spacing: var(--md-sys-typescale-headline4-tracking);
}

.headline3, .headline-medium {
    font-family: var(--md-sys-typescale-headline3-font);
    font-weight: var(--md-sys-typescale-headline3-weight);
    font-size: var(--md-sys-typescale-headline3-size);
    line-height: var(--md-sys-typescale-headline3-line-height);
    letter-spacing: var(--md-sys-typescale-headline3-tracking);
}

.headline2, .headline-large {
    font-family: var(--md-sys-typescale-headline2-font);
    font-weight: var(--md-sys-typescale-headline2-weight);
    font-size: var(--md-sys-typescale-headline2-size);
    line-height: var(--md-sys-typescale-headline2-line-height);
    letter-spacing: var(--md-sys-typescale-headline2-tracking);
}

.overline, .label-medium {
    font-family: var(--md-sys-typescale-overline-font);
    font-weight: var(--md-sys-typescale-overline-weight);
    font-size: var(--md-sys-typescale-overline-size);
    line-height: var(--md-sys-typescale-overline-line-height);
    letter-spacing: var(--md-sys-typescale-overline-tracking);
}

.button, .label-large {
    font-family: var(--md-sys-typescale-button-font);
    font-weight: var(--md-sys-typescale-button-weight);
    font-size: var(--md-sys-typescale-button-size);
    line-height: var(--md-sys-typescale-button-line-height);
    letter-spacing: var(--md-sys-typescale-button-tracking);
}

.subhead2, .title-small {
    font-family: var(--md-sys-typescale-subhead2-font);
    font-weight: var(--md-sys-typescale-subhead2-weight);
    font-size: var(--md-sys-typescale-subhead2-size);
    line-height: var(--md-sys-typescale-subhead2-line-height);
    letter-spacing: var(--md-sys-typescale-subhead2-tracking);
}

.subhead1, .title-medium {
    font-family: var(--md-sys-typescale-subhead1-font);
    font-weight: var(--md-sys-typescale-subhead1-weight);
    font-size: var(--md-sys-typescale-subhead1-size);
    line-height: var(--md-sys-typescale-subhead1-line-height);
    letter-spacing: var(--md-sys-typescale-subhead1-tracking);
}

.headline5, .title-large {
    font-family: var(--md-sys-typescale-headline5-font);
    font-weight: var(--md-sys-typescale-headline5-weight);
    font-size: var(--md-sys-typescale-headline5-size);
    line-height: var(--md-sys-typescale-headline5-line-height);
    letter-spacing: var(--md-sys-typescale-headline5-tracking);
}

.caption, .body-small {
    font-family: var(--md-sys-typescale-caption-font);
    font-weight: var(--md-sys-typescale-caption-weight);
    font-size: var(--md-sys-typescale-caption-size);
    line-height: var(--md-sys-typescale-caption-line-height);
    letter-spacing: var(--md-sys-typescale-caption-tracking);
}

.body2, .body-medium {
    font-family: var(--md-sys-typescale-body2-font);
    font-weight: var(--md-sys-typescale-body2-weight);
    font-size: var(--md-sys-typescale-body2-size);
    line-height: var(--md-sys-typescale-body2-line-height);
    letter-spacing: var(--md-sys-typescale-body2-tracking);
}

.body1, .body-large {
    font-family: var(--md-sys-typescale-body1-font);
    font-weight: var(--md-sys-typescale-body1-weight);
    font-size: var(--md-sys-typescale-body1-size);
    line-height: var(--md-sys-typescale-body1-line-height);
    letter-spacing: var(--md-sys-typescale-body1-tracking);
}

.material-theme {
    --md-sys-typescale-headline1-font: Google Sans;
    --md-sys-typescale-headline1-weight: Regular;
    --md-sys-typescale-headline1-size: 36px;
    --md-sys-typescale-headline1-line-height: 44px;
    --md-sys-typescale-headline1-tracking: 0px;
    --md-sys-typescale-display3-font: Google Sans;
    --md-sys-typescale-display3-weight: Regular;
    --md-sys-typescale-display3-size: 45px;
    --md-sys-typescale-display3-line-height: 52px;
    --md-sys-typescale-display3-tracking: 0px;
    --md-sys-typescale-display2-font: Google Sans;
    --md-sys-typescale-display2-weight: Regular;
    --md-sys-typescale-display2-size: 57px;
    --md-sys-typescale-display2-line-height: 64px;
    --md-sys-typescale-display2-tracking: 0px;
    --md-sys-typescale-headline4-font: Google Sans;
    --md-sys-typescale-headline4-weight: Regular;
    --md-sys-typescale-headline4-size: 24px;
    --md-sys-typescale-headline4-line-height: 32px;
    --md-sys-typescale-headline4-tracking: 0px;
    --md-sys-typescale-headline3-font: Google Sans;
    --md-sys-typescale-headline3-weight: Regular;
    --md-sys-typescale-headline3-size: 28px;
    --md-sys-typescale-headline3-line-height: 36px;
    --md-sys-typescale-headline3-tracking: 0px;
    --md-sys-typescale-headline2-font: Google Sans;
    --md-sys-typescale-headline2-weight: Regular;
    --md-sys-typescale-headline2-size: 32px;
    --md-sys-typescale-headline2-line-height: 40px;
    --md-sys-typescale-headline2-tracking: 0px;
    --md-sys-typescale-overline-font: Google Sans Text;
    --md-sys-typescale-overline-weight: Medium;
    --md-sys-typescale-overline-size: 12px;
    --md-sys-typescale-overline-line-height: 16px;
    --md-sys-typescale-overline-tracking: 0.10000000149011612px;
    --md-sys-typescale-button-font: Google Sans Text;
    --md-sys-typescale-button-weight: Medium;
    --md-sys-typescale-button-size: 14px;
    --md-sys-typescale-button-line-height: 20px;
    --md-sys-typescale-button-tracking: 0px;
    --md-sys-typescale-subhead2-font: Google Sans Text;
    --md-sys-typescale-subhead2-weight: Medium;
    --md-sys-typescale-subhead2-size: 14px;
    --md-sys-typescale-subhead2-line-height: 20px;
    --md-sys-typescale-subhead2-tracking: 0px;
    --md-sys-typescale-subhead1-font: Google Sans Text;
    --md-sys-typescale-subhead1-weight: Medium;
    --md-sys-typescale-subhead1-size: 16px;
    --md-sys-typescale-subhead1-line-height: 24px;
    --md-sys-typescale-subhead1-tracking: 0px;
    --md-sys-typescale-headline5-font: Google Sans;
    --md-sys-typescale-headline5-weight: Regular;
    --md-sys-typescale-headline5-size: 22px;
    --md-sys-typescale-headline5-line-height: 28px;
    --md-sys-typescale-headline5-tracking: 0px;
    --md-sys-typescale-caption-font: Google Sans Text;
    --md-sys-typescale-caption-weight: Regular;
    --md-sys-typescale-caption-size: 12px;
    --md-sys-typescale-caption-line-height: 16px;
    --md-sys-typescale-caption-tracking: 0.10000000149011612px;
    --md-sys-typescale-body2-font: Google Sans Text;
    --md-sys-typescale-body2-weight: Regular;
    --md-sys-typescale-body2-size: 14px;
    --md-sys-typescale-body2-line-height: 20px;
    --md-sys-typescale-body2-tracking: 0px;
    --md-sys-typescale-body1-font: Google Sans Text;
    --md-sys-typescale-body1-weight: Regular;
    --md-sys-typescale-body1-size: 16px;
    --md-sys-typescale-body1-line-height: 24px;
    --md-sys-typescale-body1-tracking: 0px;
    /* light */
    --md-sys-color-primary-light: #2B54CE;
    --md-sys-color-primary-container-light: #DCE1FF;
    --md-sys-color-on-primary-light: #FFFFFF;
    --md-sys-color-on-primary-container-light: #001550;
    --md-sys-color-secondary-light: #724CA1;
    --md-sys-color-secondary-container-light: #EEDBFF;
    --md-sys-color-on-secondary-light: #FFFFFF;
    --md-sys-color-on-secondary-container-light: #2A0054;
    --md-sys-color-tertiary-light: #75546F;
    --md-sys-color-tertiary-container-light: #FFD7F5;
    --md-sys-color-on-tertiary-light: #FFFFFF;
    --md-sys-color-on-tertiary-container-light: #2C122A;
    --md-sys-color-error-light: #BA1A1A;
    --md-sys-color-error-container-light: #FFDAD6;
    --md-sys-color-on-error-light: #FFFFFF;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-outline-light: #767680;
    --md-sys-color-background-light: #FEFBFF;
    --md-sys-color-on-background-light: #1B1B1F;
    --md-sys-color-surface-light: #FEFBFF;
    --md-sys-color-on-surface-light: #1B1B1F;
    --md-sys-color-surface-variant-light: #E2E1EC;
    --md-sys-color-on-surface-variant-light: #45464F;
    --md-sys-color-inverse-surface-light: #303034;
    --md-sys-color-inverse-on-surface-light: #F2F0F4;
    --md-sys-color-inverse-primary-light: #B6C4FF;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #2B54CE;
    --md-sys-color-outline-variant-light: #C6C5D0;
    --md-sys-color-scrim-light: #000000;
    /* dark */
    --md-sys-color-primary-dark: #B6C4FF;
    --md-sys-color-primary-container-dark: #003AB2;
    --md-sys-color-on-primary-dark: #00277F;
    --md-sys-color-on-primary-container-dark: #DCE1FF;
    --md-sys-color-secondary-dark: #D9B9FF;
    --md-sys-color-secondary-container-dark: #593387;
    --md-sys-color-on-secondary-dark: #41196F;
    --md-sys-color-on-secondary-container-dark: #EEDBFF;
    --md-sys-color-tertiary-dark: #E3BADA;
    --md-sys-color-tertiary-container-dark: #5B3D57;
    --md-sys-color-on-tertiary-dark: #43273F;
    --md-sys-color-on-tertiary-container-dark: #FFD7F5;
    --md-sys-color-error-dark: #FFB4AB;
    --md-sys-color-error-container-dark: #93000A;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #FFDAD6;
    --md-sys-color-outline-dark: #90909A;
    --md-sys-color-background-dark: #1B1B1F;
    --md-sys-color-on-background-dark: #E4E1E6;
    --md-sys-color-surface-dark: #1B1B1F;
    --md-sys-color-on-surface-dark: #E4E1E6;
    --md-sys-color-surface-variant-dark: #45464F;
    --md-sys-color-on-surface-variant-dark: #C6C5D0;
    --md-sys-color-inverse-surface-dark: #E4E1E6;
    --md-sys-color-inverse-on-surface-dark: #1B1B1F;
    --md-sys-color-inverse-primary-dark: #2B54CE;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #B6C4FF;
    --md-sys-color-outline-variant-dark: #45464F;
    --md-sys-color-scrim-dark: #000000;
}

@media (prefers-color-scheme: light) {
    .material-theme {
        --md-sys-color-primary: var(--md-sys-color-primary-light);
        --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
        --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
        --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
        --md-sys-color-secondary: var(--md-sys-color-secondary-light);
        --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
        --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
        --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
        --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
        --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
        --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
        --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
        --md-sys-color-error: var(--md-sys-color-error-light);
        --md-sys-color-on-error: var(--md-sys-color-on-error-light);
        --md-sys-color-error-container: var(--md-sys-color-error-container-light);
        --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
        --md-sys-color-outline: var(--md-sys-color-outline-light);
        --md-sys-color-background: var(--md-sys-color-background-light);
        --md-sys-color-on-background: var(--md-sys-color-on-background-light);
        --md-sys-color-surface: var(--md-sys-color-surface-light);
        --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
        --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
        --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
        --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
        --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
    }

    .dark-theme {
        --md-sys-color-primary: var(--md-sys-color-primary-dark);
        --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
        --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
        --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
        --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
        --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
        --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
        --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
        --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
        --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
        --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
        --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
        --md-sys-color-error: var(--md-sys-color-error-dark);
        --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
        --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
        --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
        --md-sys-color-outline: var(--md-sys-color-outline-dark);
        --md-sys-color-background: var(--md-sys-color-background-dark);
        --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
        --md-sys-color-surface: var(--md-sys-color-surface-dark);
        --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
        --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
        --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
        --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
        --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
    }
}

@media (prefers-color-scheme: dark) {
    .material-theme {
        --md-sys-color-primary: var(--md-sys-color-primary-dark);
        --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
        --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
        --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
        --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
        --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
        --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
        --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
        --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
        --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
        --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
        --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
        --md-sys-color-error: var(--md-sys-color-error-dark);
        --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
        --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
        --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
        --md-sys-color-outline: var(--md-sys-color-outline-dark);
        --md-sys-color-background: var(--md-sys-color-background-dark);
        --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
        --md-sys-color-surface: var(--md-sys-color-surface-dark);
        --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
        --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
        --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
        --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
        --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
    }

    .light-theme {
        --md-sys-color-primary: var(--md-sys-color-primary-light);
        --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
        --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
        --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
        --md-sys-color-secondary: var(--md-sys-color-secondary-light);
        --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
        --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
        --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
        --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
        --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
        --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
        --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
        --md-sys-color-error: var(--md-sys-color-error-light);
        --md-sys-color-on-error: var(--md-sys-color-on-error-light);
        --md-sys-color-error-container: var(--md-sys-color-error-container-light);
        --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
        --md-sys-color-outline: var(--md-sys-color-outline-light);
        --md-sys-color-background: var(--md-sys-color-background-light);
        --md-sys-color-on-background: var(--md-sys-color-on-background-light);
        --md-sys-color-surface: var(--md-sys-color-surface-light);
        --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
        --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
        --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
        --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
        --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
    }
}